:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  color: #333;
}
p {
  margin: 0 0 24px;
}

.light-row {
  background: #fff;
}
.dark-row {
  padding: 40px;
  background: #ECF2FE;
}

.title {
  font-size: 48px;
  font-weight: 900;
  line-height: 63.984px;
  margin: 0 0 38px;
}

a {
  color: #3371F2;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: Raleway;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #666;
    background-color: #ffffff;
  }
  a:hover {
    color: #3371F2;
  }
  button {
    background-color: #f9f9f9;
  }
}


.container {
  width: 1236px;
  padding: 0 15px;
  margin: auto;
}

.header {
  padding: 40px 0 32px;

  .logo {
    width: 120px;
    height: 40px;
    background: #b3b3b3;
    border-radius: 8px;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}