@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Medium.woff') format('woff');
  font-weight: 450;
  font-style: normal;
}
@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Book.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}